<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<a href = "{{ url_for('home')}}">Home</a>
{% block content %}
{% endblock %}
</body>
</html>

{# all the html pages are children of base.jinja2 file #}